<div class="container">
    <h1>Goals</h1>
    <div >
        <button class="btn btn-sm btn-success" (click)="open(content)"> 
            <i class="fa fa-plus"></i>New Goal</button>
    </div>
    <table class="table table-bordered table-striped">
      <thead>
        <tr>
          <th>Image</th>
          <th>Name</th>
          <th>Description</th>
          <th>Target Date</th>
          <th>Target Amount</th>
          <th>Current Amount</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let goal of goals">
          <td><img [src]="goal.imagePath" [alt]="goal.name"/></td>
          <td>{{goal.name}}</td>
          <td>{{goal.description}}</td>
          <td>{{goal.targetDate}}</td>
          <td>{{goal.targetAmount}}</td>
          <td>{{goal.currentAmount}}</td>
          <td>
            <button class="btn btn-sm btn-warning" (click)="openEdit(contentEdit, goal)"> <i class="fa fa-edit"></i>Edit</button>
            <button class="btn btn-sm btn-danger" (click)="openDelete(contentDelete, goal)"> <i class="fa fa-remove"></i>Delete</button>
          </td>
        </tr>
      </tbody>
    </table>
    <!-- <div class="card">
        <p-dataView #dv [value]="goals" [paginator]="true" [rows]="9" filterBy="name" layout="grid">
            <ng-template let-goal pTemplate="gridItem">
                <div class="col-12 md:col-4">
                    <div class="goal-grid-item card">
                        <div class="goal-grid-item-top">
                            <div>
                                <i class="pi pi-money-bill goal-id-icon"></i>
                                <span class="goal-id">{{goal.goalId}}</span>
                            </div>
                            
                        </div>
                        <div class="goal-grid-item-content">
                            <img [src]="goal.imagePath" [alt]="goal.name"/>
                            <h2 class="goal-name">{{goal.name}}</h2>
                            <h4 class="goal-description">{{goal.description}}</h4>
                            <div class="goal-target-date">Target Date: {{goal.targetDate}}</div>
                        </div>
                        <div class="product-grid-item-bottom">
                            
                            <span class="goal-target-amount">Target Amount: ${{goal.targetAmount}} </span>
                            <span class="goal-current-amount">Current Amount: ${{goal.currentAmount}} </span>
                            <span>
                                <button class="btn btn-sm btn-warning"> <i class="fa fa-edit"></i>Edit</button>
                            </span>
                            <span>
                                <button class="btn btn-sm btn-danger"> <i class="fa fa-remove"></i>Delete</button>
                            </span>
                        </div>
                    </div>
                </div>
            </ng-template>
        </p-dataView>
    </div> -->

    <ng-template #content let-modal>
        <div class="modal-header">
          <h4 class="modal-title" id="modal-basic-title">New Goal</h4>
          <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
        </div>

        <div class="modal-body">
          <form (ngSubmit)="onSubmit(this.newGoal)" novalidate>
            <div class="form-group">
              <label for="name">Goal Name</label>
              <div class="input-group">
                <input [(ngModel)]="newGoal.name" id="name" class="form-control" name="name" type="text">
              </div>
            </div>

            <div class="form-group">
                <label for="description">Description</label>
                <div class="input-group">
                  <input [(ngModel)]="newGoal.description" id="description" class="form-control" name="description" type="text">
                </div>
              </div>

              <div class="form-group">
                <label for="imagePath">Image URL</label>
                <div class="input-group">
                  <input [(ngModel)]="newGoal.imagePath" id="imagePath" class="form-control" name="image" type="text">
                </div>
              </div>

              <div class="form-group">
                <label for="targetDate">Target Date</label>
                <div class="input-group">
                  <!-- <input id="targetDate" class="form-control" name="targetDate" ngbDatepicker #dp="ngbDatepicker" ngModel>
                  <button class="btn btn-outline-secondary calendar" (click)="dp.toggle()" type="button"></button> -->
                  <input [(ngModel)]="newGoal.targetDate" type="text" id="targetDate" class="form-control" name="targetDate">
                </div>
              </div>

              <div class="form-group">
                <label for="targetAmount">Target Amount</label>
                <div class="input-group">
                  <input [(ngModel)]="newGoal.targetAmount" id="targetAmount" class="form-control"  name="targetAmount" type="number">
                </div>
              </div>

              <div class="form-group">
                <label for="currentAmount">Current Amount</label>
                <div class="input-group">
                  <input [(ngModel)]="newGoal.currentAmount" id="currentamount" class="form-control" placeholder="$" name="currentAmount" type="number">
                </div>
              </div>
              <div class="border text-center">
                <button data-dismiss="modal" class="btn btn-success">Submit</button>
              </div>
          </form>
        </div>

        <div class="modal-footer">
          <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Cancel</button>
        </div>
      </ng-template>



      <ng-template #contentEdit let-modal>
        <div class="modal-header">
          <h4 class="modal-title" id="modal-title">Update Goal</h4>
          <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
        </div>
        <div class="modal-body">
          <form [formGroup]="editForm" novalidate>
            <div class="form-group">
              <label for="name">Goal Name</label>
              <div class="input-group">
                <input class="form-control" placeholder="Goal Name" formControlName="name" type="text">
              </div>
            </div>

            <div class="form-group">
                <label for="description">Description</label>
                <div class="input-group">
                  <input class="form-control" placeholder="Description..." formControlName="description" type="text">
                </div>
              </div>

              <div class="form-group">
                <label for="imagePath">Image URL</label>
                <div class="input-group">
                  <input class="form-control" placeholder="URL" formControlName="imagePath" type="text">
                </div>
              </div>

              <div class="form-group">
                <label for="targetDate">Target Date</label>
                <div class="input-group">
                  <input class="form-control" placeholder="yyyy-mm-dd" formControlName="targetDate" ngbDatepicker #dp="ngbDatepicker">
                  <button class="btn btn-outline-secondary calendar" (click)="dp.toggle()" type="button"></button>
                </div>
              </div>

              <div class="form-group">
                <label for="targetAmount">Target Amount</label>
                <div class="input-group">
                  <input class="form-control" placeholder="$" formControlName="targetAmount" type="number">
                </div>
              </div>

              <div class="form-group">
                <label for="currentAmount">Current Amount</label>
                <div class="input-group">
                  <input class="form-control" placeholder="$" formControlName="currentAmount" type="number">
                </div>
              </div>
              <div class="border text-center">
                <button data-dismiss="modal" class="btn btn-success" (click)="onSave()">Save Changes</button>
              </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Cancel</button>
        </div>
      </ng-template>



      <ng-template #contentDelete let-modal>
        <div class="modal-header">
          <h4 class="modal-title" id="modal-title">Delete</h4>
          <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
        </div>
        <div class="modal-body">
          <h2>Ready to delete this goal?</h2>
          <div class="border text-center">
            <button data-dismiss="modal" class="btn btn-danger" (click)="onDelete()">Yes!</button>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Cancel</button>
        </div>
      </ng-template>

</div>
