.container{
    background-color: rgba(158, 195, 83, 0.422);
    height: max-content;
    width: 100vw;
}

img{
    width: 200px;
    height: auto; 
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    
}

.border{
    padding: 10px;
    margin-right: 10px;
}

button{
    margin: 5px;
}

.card{
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 10px;
}

.flexin{
    display: flex;
    margin-top: 30px;
    margin-left: 50px;
    margin-right: 50px;
}

.goal-blurb{
    margin-right: 30px;
}

h6{
    text-align: center;
}



